/*!
 * @version img-spriter-transform - 1.0.0
 * @hash 1adsk02ri
 * @width 128
 * @height 84
 * @sprite_path http://img.alicdn.com/tps/i3/TB1CO.aLVXXXXXIXpXXkSUf.FXX-128-84.png
 */@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2){.icon-bace-1212c,.icon-bace-tianmaoguoji{display:inline-block;*display:inline;*zoom:1;font-size:0;background-image:url(http://img.alicdn.com/tps/i3/TB1CO.aLVXXXXXIXpXXkSUf.FXX-128-84.png);background-size:128px 84px;background-repeat:no-repeat}.icon-bace-1212c{background-position:0 0;width:59px;height:16px}.icon-bace-tianmaoguoji{background-position:0 -21px;width:50px;height:16px}}